<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users with Templates</title>
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email address</th>
                <th>Age</th>
            </tr>

        </thead>
        <tbody>
            {% for User in all_the_users %}
            <tr>
                <td>{{User.id}}</td>
                <td>{{User.first_name}} {{User.last_name}}</td>
                <td>{{User.email_address}}</td>
                <td>{{User.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Add a User</h1>
    <form action='/users/create' method="POST">
    {%csrf_token%}
    <label>First Name:<input type="text" name="first_name"></label>
    <label>Last Name:<input type="text" name="last_name"></label>
    <label>Email:<input type="text" name="email_address"></label>
    <label>Age:<input type="text" name="age"></label>
    <input type="submit" value="Add">
    </form>
    
</body>
</html>